@font-face {
    font-family: 'Panton';
    src: url('Panton-Regular.woff2') format('woff2'),
        url('Panton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-Bold.woff2') format('woff2'),
        url('Panton-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-Black.woff2') format('woff2'),
        url('Panton-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

