:root {
  --color-primary: #00c3b3;
  --color-active: #00e1cf;
  --color-red: #e5004f;
  --color-black: #000;
  --color-white: #fff; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Panton';
  src: url("../fonts/Panton-Regular.woff2") format("woff2"), url("../fonts/Panton-Regular.woff") format("woff");
  font-display: swap; }

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Panton';
  src: url("../fonts/Panton-Bold.woff2") format("woff2"), url("../fonts/Panton-Bold.woff") format("woff");
  font-display: swap; }

@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: 'Panton';
  src: url("../fonts/Panton-Black.woff2") format("woff2"), url("../fonts/Panton-Black.woff") format("woff");
  font-display: swap; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

figure {
  margin: 0; }

body {
  margin: 0;
  background-color: var(--color-white);
  font-weight: normal;
  font-size: 16px;
  font-family: 'Panton';
  line-height: 1.625; }
  body.fancybox-active {
    margin-right: 17px !important; }
  @media (max-width: 1200px) {
    body {
      background: linear-gradient(to bottom, #baf0e9 0%, #fff 100%); } }

img {
  vertical-align: middle;
  max-width: 100%; }

svg {
  vertical-align: middle;
  overflow: hidden;
  transition: all .3s ease; }

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: all .3s ease; }
  a.link {
    color: var(--color-primary); }
    a.link:hover {
      color: var(--color-dark); }
  a:hover {
    color: var(--color-primary); }

.wrapper {
  overflow: hidden; }
  @media (max-width: 767px) {
    .wrapper {
      padding-top: 80px; } }

.container {
  min-width: 320px; }

.modal-body.fancybox-content {
  max-width: 1140px; }

.modal-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 3px 20px;
  border: 2px solid #ef3139;
  border-radius: 15px;
  font-weight: 700; }
  .modal-btn:hover {
    background: #ef3139;
    color: #fff; }

@media (max-width: 767px) {
  .mobile-btn {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 20px; }
    .mobile-btn .btn-primary {
      padding: 5px 15px;
      font-size: 12px; } }

.form-errors {
  display: none !important; }

.form-success {
  position: absolute;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #effbf9;
  color: #00c3b3;
  font-weight: 700;
  font-size: 26px; }
  .form-success.active {
    display: flex; }

ul {
  padding: 0;
  list-style: none; }
  ul.def {
    padding-left: 40px;
    list-style: disc; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.is-hidden {
  display: none !important; }

.is-overflow-hidden {
  overflow: hidden !important; }

.w-100 {
  width: 100%; }

.hover-shine .shine-block::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  pointer-events: none;
  transform: skewX(-25deg); }

.hover-shine .shine-block:hover::after {
  -webkit-animation: shine 1s;
  animation: shine 1s; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

.for-mobile {
  display: none; }
  @media (max-width: 991px) {
    .for-mobile {
      display: block; } }

.for-desctop {
  display: block; }
  @media (max-width: 991px) {
    .for-desctop {
      display: none; } }

.text-color-primary {
  color: var(--color-primary); }

svg.text-color-primary {
  fill: var(--color-primary) !important; }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.border-bottom-primary {
  position: relative;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--background-gray); }
  .border-bottom-primary:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 90px;
    height: 3px;
    background: var(--color-primary); }

.fancybox-content {
  border-radius: 3px; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.hover-primary:hover {
  color: var(--color-primary); }
  .hover-primary:hover:after {
    color: var(--color-primary); }

.hover-white:hover {
  color: var(--color-white); }
  .hover-white:hover:after {
    color: var(--color-white); }

.hover-dark:hover {
  color: var(--color-dark); }
  .hover-dark:hover:after {
    color: var(--color-dark); }

.fs-10 {
  font-size: 10px; }

.fs-13 {
  font-size: 13px; }

.fs-18 {
  font-size: 18px; }

.dropdown-list {
  position: relative; }
  .dropdown-list-item {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 60;
    flex-direction: column;
    min-width: 170px;
    margin: 0;
    padding-top: 10px;
    border-top: 3px solid var(--color-primary);
    border-radius: 0 0 3px 3px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translate(0, 10px); }
    .dropdown-list-item li a {
      padding: 10px;
      border-bottom: 1px solid var(--background-lightgray); }
    .dropdown-list-item li:last-child a {
      margin-bottom: 0;
      border-bottom: 0; }
  .dropdown-list:hover .dropdown-list-item {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0); }

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }
  .section-title .section-title__block {
    position: relative;
    max-width: 800px;
    margin-bottom: 35px;
    padding: 14px 50px;
    border: 4px solid var(--color-primary);
    border-radius: 15px;
    background: var(--color-white);
    color: var(--color-primary);
    font-size: 30px;
    line-height: 35px;
    text-align: center; }
    @media (max-width: 1200px) {
      .section-title .section-title__block {
        position: relative;
        font-size: 22px;
        line-height: 24px; }
        .section-title .section-title__block .section-title__number {
          top: -3px;
          left: -23px;
          width: 49px;
          height: 70px;
          background-size: contain;
          font-size: 37px;
          line-height: 86px; } }
    @media (max-width: 767px) {
      .section-title .section-title__block {
        padding: 10px 10px 10px 40px;
        text-align: left; } }
  .section-title img {
    width: 160px;
    margin: -35px 0 0 15px; }
    @media (max-width: 767px) {
      .section-title img {
        width: 80px; } }

.section-title__number {
  position: absolute;
  top: -5px;
  left: -32px;
  width: 65px;
  height: 94px;
  background: url("../img/title-after.png") no-repeat;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 50px;
  line-height: 107px;
  text-align: center; }

.fwbold {
  font-weight: 700; }

.main-content {
  background: linear-gradient(to bottom, #baf0e9 0%, #fff 100%); }
  @media (max-width: 1200px) {
    .main-content {
      position: relative;
      background: none; } }

.mobile-line-750 {
  display: none; }
  @media (max-width: 1200px) {
    .mobile-line-750 {
      position: absolute;
      top: -24px;
      left: -46px;
      display: block;
      width: 844px; } }
  @media (max-width: 767px) {
    .mobile-line-750 {
      display: none; } }

.mobile-line-480 {
  display: none; }
  @media (max-width: 767px) {
    .mobile-line-480 {
      position: absolute;
      top: -24px;
      left: 50%;
      display: block;
      width: 473px;
      transform: translate(-50%, 0); } }

.color-blue {
  color: #1a3668; }

.color-red {
  color: #e5004f; }

.section-content {
  z-index: 10; }

.figure-heart {
  position: absolute;
  top: 50%;
  right: -340px;
  width: 695px;
  height: 678px;
  background: url("../img/figure-heart.png") no-repeat;
  transform: translateY(-36%); }
  @media (max-width: 1200px) {
    .figure-heart {
      z-index: -1; } }
  @media (max-width: 767px) {
    .figure-heart {
      display: none; } }

/*# sourceMappingURL=global.css.map */
