@charset "UTF-8";
@font-face {
  font-family: CoFoSans;
  font-display: swap;
  src: url("../fonts/CoFoSans-Black.woff2") format("woff2"), url("../fonts/CoFoSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: CoFoSans;
  font-display: swap;
  src: url("../fonts/CoFoSans-Bold.woff2") format("woff2"), url("../fonts/CoFoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CoFoSans;
  font-display: swap;
  src: url("../fonts/CoFoSans-Medium.woff2") format("woff2"), url("../fonts/CoFoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Semibold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CoFoSans;
  font-display: swap;
  src: url("../fonts/CoFoSans-Regular.woff2") format("woff2"), url("../fonts/CoFoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #15161A;
  line-height: 1;
  font-family: "CoFoSans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "CoFoSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 80rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #ededed;
  background-color: #ededed;
  border-radius: 8px;
  padding: 16px 24px;
  color: #979797;
}
.input._form-error {
  border: 1px solid red;
}
.input::placeholder {
  color: #979797;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 0px 0px;
  border: 1px solid #ededed;
  background-color: #ededed;
  border-radius: 8px;
  padding: 16px 24px;
  color: #979797;
  min-height: 91px;
}
textarea._form-error {
  border: 1px solid red;
}
textarea::placeholder {
  color: #979797;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  padding: 72px 24px;
  width: 100%;
  max-width: 900px;
  background: #FFFFFF;
  border-radius: 24px;
}
.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: 0;
}
.popup__close img {
  width: 100%;
  height: 100%;
}
.popup__title {
  text-align: center;
  margin: 0 auto;
}
.popup__title:not(:last-child) {
  margin-bottom: 40px;
}
.popup__form {
  max-width: 556px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popup__inputs {
  display: flex;
  gap: 16px;
}
@media (max-width: 29.99875em) {
  .popup__inputs {
    flex-direction: column;
  }
}
.popup__input-wrap {
  flex: 1 1 50%;
}
@media (min-width: 29.99875em) {
  .popup__button {
    max-width: 135px;
  }
}

@media (max-width: 47.99875em) {
  .price-popup .popup__title {
    max-width: 302px;
  }
}
.price-popup .popup__form {
  max-width: 380px;
}
@media (min-width: 29.99875em) {
  .price-popup .popup__form {
    flex-direction: row;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

h1,
.h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}
@media (max-width: 61.99875em) {
  h1,
.h1 {
    font-size: 2.625rem;
  }
}
@media (max-width: 47.99875em) {
  h1,
.h1 {
    font-size: 2rem;
  }
}

h2,
.h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
}

.big-text {
  font-size: 1.75rem;
  line-height: 130%;
}
@media (max-width: 47.99875em) {
  .big-text {
    font-size: 1.5rem;
  }
}

.button-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  min-height: 36px;
  background-color: #CED0D4;
  border-radius: 8px;
  background-color: #ededed;
  white-space: nowrap;
  border: 1px solid #ededed;
  opacity: 1;
  transition: all 0.2s ease 0s;
}
.button-small:active {
  transform: scale(0.8);
}
@media (any-hover: hover) {
  .button-small:hover {
    opacity: 0.8;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  min-height: 50px;
  background-color: #CED0D4;
  font-size: 1.25rem;
  border-radius: 8px;
  background-color: #ededed;
  border: 1px solid #ededed;
  opacity: 1;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
}
.button:active {
  transform: scale(0.8);
}
@media (any-hover: hover) {
  .button:hover {
    opacity: 0.5;
  }
}

.button-accent {
  background-color: #1D68F9;
  color: #ffffff;
  border: 1px solid #1D68F9;
}

.button-white {
  background-color: #ffffff;
  color: #1D68F9;
  border: 1px solid #1D68F9;
}

.button-gray {
  background-color: #ffffff;
  border: 1px solid #CED0D4;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.header._header-scroll {
  position: fixed;
  width: 100%;
  z-index: 1001;
  background-color: #fff;
}
.header__body {
  padding: 10px 0px;
  min-height: 72px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
@media (min-width: 47.99875em) {
  .header__body {
    column-gap: 102px;
  }
}
.header__logo {
  flex: 0 0 116px;
  z-index: 10;
}
.header__logo img {
  max-width: 100%;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  border-radius: 10px;
}
@media (max-width: 47.99875em) {
  .header__button {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 6rem 1.0625rem 3.125rem 0.875rem;
    transition: left 0.3s ease 0s;
    z-index: 4;
    background-color: #f4f4f4;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    top: 0;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 52px;
  row-gap: 15px;
  position: relative;
  top: 3px;
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    row-gap: 24px;
  }
  .menu__list:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }
}
.menu__link {
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    opacity: 0.5;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.5rem;
    line-height: 130%;
  }
}
.menu__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media (min-width: 47.99875em) {
  .menu__buttons {
    display: none;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.0625rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: #1D68F9;
    border-radius: 100px;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    transform: rotate(45deg);
  }
}

.footer__body {
  padding: 0px 0px 32px 0px;
  min-height: 55px;
}
.footer__info {
  line-height: 130%;
  color: #CED0D4;
}
.footer__info:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.footer__link {
  transition: all 0.2s ease 0s;
}
.footer__link:not(:last-child) {
  margin: 0px 24px 0px 0px;
}
@media (any-hover: hover) {
  .footer__link:hover {
    opacity: 0.5;
  }
}
.cookies {
  display: none;
  position: fixed;
  bottom: 24px;
  background-color: #ffffff;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 650px;
  padding: 8px 16px;
  border: 1px solid #E8E9EB;
  border-radius: 16px;
  z-index: 1000;
}
.cookies__body {
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.cookies__text a {
  color: #1D68F9;
  opacity: 1;
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) {
  .cookies__text a:hover {
    opacity: 0.5;
  }
}
.cookies__buttons {
  display: flex;
  column-gap: 16px;
}
.main__body {
  position: relative;
  padding: 212px 0px 360px 0px;
}
@media (max-width: 61.99875em) {
  .main__body {
    padding: 150px 0px 234px 0px;
  }
}
@media (max-width: 47.99875em) {
  .main__body {
    padding: 100px 0px 104px 0px;
  }
}
.main__content {
  max-width: 630px;
  flex-shrink: 0;
}
@media (max-width: 29.99875em) {
  .main__content {
    flex-grow: 1;
  }
}
.main__title:not(:last-child) {
  margin: 0px 0px 33px 0px;
}
.main__title span {
  position: relative;
  background-color: #E8E9EB;
  display: inline-block;
  color: #1D68F9;
  border-radius: 12px;
  padding: 6px 16px 12px;
  margin: 0px 0px 4px 0px;
}
@media (max-width: 47.99875em) {
  .main__title span {
    top: -4px;
  }
}
.main__subtitle:not(:last-child) {
  margin: 0px 0px 63px 0px;
}
@media (max-width: 47.99875em) {
  .main__subtitle:not(:last-child) {
    margin: 0px 0px 54px 0px;
  }
}
.main__subtitle p:not(:last-child) {
  margin: 0px 11px 0px 0px;
}
@media (min-width: 61.99875em) {
  .main__subtitle p {
    display: inline-block;
  }
}
.main__buttons {
  display: flex;
  column-gap: 16px;
}
@media (max-width: 29.99875em) {
  .main__buttons {
    flex-direction: column;
    row-gap: 15px;
  }
}
.main__img {
  position: absolute;
  top: 50%;
  right: -19px;
  transform: translateY(-49%);
}
@supports (width: clamp( 12.625rem , -3.0763888889rem  +  44.8611111111vw , 32.8125rem )) {
  .main__img {
    width: clamp( 12.625rem , -3.0763888889rem  +  44.8611111111vw , 32.8125rem );
  }
}
@supports not (width: clamp( 12.625rem , -3.0763888889rem  +  44.8611111111vw , 32.8125rem )) {
  .main__img {
    width: calc(12.625rem + 20.1875 * (100vw - 35rem) / 45);
  }
}
@media (max-width: 47.99875em) {
  .main__img {
    right: 0;
  }
}
@media (max-width: 34.99875em) {
  .main__img {
    display: none;
  }
}
.main__img img {
  width: 100%;
}

.actions__title {
  padding: 24px 0px 0px 0px;
}
@media (max-width: 47.99875em) {
  .actions__title {
    display: none;
  }
}

.tabs-action__navigation {
  max-width: 354px;
  display: flex;
}
.tabs-action__title {
  flex: 1 1 50%;
  border-radius: 12px 12px 0 0;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #7F8085;
  color: #7F8085;
  transition: all 0.2s ease 0s;
  padding: 12px 0px;
}
.tabs-action__title._tab-active {
  flex: 1 1 42%;
}
@media (any-hover: hover) {
  .tabs-action__title:hover {
    opacity: 0.5;
  }
}
.tabs-action__title._tab-active {
  color: #1D68F9;
  border: 1px solid #1D68F9;
}
.tabs-register {
  max-width: 914px;
  padding: 56px 0px 0px 0px;
}
.tabs-register__navigation {
  display: flex;
  column-gap: 32px;
  row-gap: 24px;
  flex-wrap: wrap;
}
.tabs-register__title {
  font-size: 1.625rem;
  line-height: 100%;
  color: #7F8085;
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) {
  .tabs-register__title:hover {
    opacity: 0.5;
  }
}
@media (max-width: 47.99875em) {
  .tabs-register__title {
    font-size: 1.5rem;
  }
}
.tabs-register__title._tab-active {
  color: #1D68F9;
}
.tabs-register__content {
  padding: 28px 0px 0px 0px;
}
.tabs-register__buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 15px;
}
.tabs-register__buttons:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
@media (max-width: 47.99875em) {
  .tabs-register__buttons:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }
}
@media (max-width: 33.125em) {
  .tabs-register__button {
    flex-grow: 1;
  }
}
.tabs-register__label {
  font-size: 13px;
  line-height: 130%;
}

.spollers-register {
  display: grid;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(2, minmax(340px, 1fr));
}
.spollers-register:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
@media (max-width: 55em) {
  .spollers-register {
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
}
.spollers-register__item {
  min-height: 109px;
}
.spollers-register__content {
  border: 1px solid #CED0D4;
  border-radius: 14px;
  padding: 16px 32px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .spollers-register__content {
    padding: 16px 24px 16px 16px;
  }
}
.spollers-register__title {
  flex: 1 1 auto;
  text-align: left;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.spollers-register__title p {
  flex: 1 1 auto;
  line-height: 130%;
}
.spollers-register__title p:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
.spollers-register__title span {
  line-height: 100%;
  position: relative;
}
.spollers-register__title sup {
  position: absolute;
  top: -100%;
}
.spollers-register__price {
  display: inline-block;
  font-size: 3rem;
  padding: 8px 0px 0px 0px;
}
.spollers-register__icon {
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) {
  .spollers-register__icon:hover {
    opacity: 0.5;
  }
}
._spoller-active .spollers-register__icon {
  transform: rotate(180deg);
}
.spollers-register__body {
  padding: 24px 0px 0px 0px;
}
.spollers-register__list-item:not(:last-child) {
  margin: 0px 0px 8px 0px;
}

.articles__body {
  position: relative;
  padding: 150px 0px 150px 0px;
}
@media (max-width: 61.99875em) {
  .articles__body {
    padding: 122px 0px 122px 0px;
  }
}
@media (max-width: 47.99875em) {
  .articles__body {
    padding: 72px 0px 52px 0px;
  }
}
.articles__list {
  display: flex;
  row-gap: 32px;
  column-gap: 46px;
  max-width: 892px;
}
@media (max-width: 61.99875em) {
  .articles__list {
    flex-wrap: wrap;
    max-width: 60%;
  }
}
@media (max-width: 47.99875em) {
  .articles__list {
    max-width: 50%;
  }
}
@media (max-width: 40.625em) {
  .articles__list {
    max-width: 100%;
  }
}
.articles__img {
  position: absolute;
  top: 50%;
  right: -77px;
  transform: translateY(-65%);
  z-index: -1;
}
@supports (width: clamp( 17.5rem , 1.4285714286rem  +  33.4821428571vw , 31.5625rem )) {
  .articles__img {
    width: clamp( 17.5rem , 1.4285714286rem  +  33.4821428571vw , 31.5625rem );
  }
}
@supports not (width: clamp( 17.5rem , 1.4285714286rem  +  33.4821428571vw , 31.5625rem )) {
  .articles__img {
    width: calc(17.5rem + 14.0625 * (100vw - 48rem) / 42);
  }
}
@media (max-width: 90em) {
  .articles__img {
    right: 0;
  }
}
@media (max-width: 40.625em) {
  .articles__img {
    display: none;
  }
}
.articles__img img {
  width: 100%;
}

.item-acticle {
  flex: 1 1 50%;
  min-width: 343px;
  background-color: #ffffff;
}
.item-acticle__source {
  display: inline-block;
  line-height: 130%;
}
.item-acticle__source:not(:last-child) {
  margin: 0px 0px 4px 0px;
}
.item-acticle__title {
  display: inline-block;
}
.item-acticle__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (min-width: 61.99875em) {
  .item-acticle__title {
    padding: 0px 55px 0px 0px;
  }
}
.item-acticle__text {
  line-height: 130%;
}
.item-acticle__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
@media (max-width: 29.99875em) {
  .item-acticle__button {
    width: 100%;
    min-height: 50px;
    font-size: 1.25rem;
  }
}

.procedure__body {
  padding: 20px 0px 0px 0px;
}
.procedure__title:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
.procedure__items {
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
}
@media (max-width: 73.125em) {
  .procedure__items {
    flex-wrap: wrap;
  }
}
.item-procedure {
  position: relative;
  min-height: 214px;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  padding: 16px 16px;
  flex: 1 1 11.112%;
  border: 1px solid #CED0D4;
  border-right: none;
  border-radius: 14px 0 0 14px;
  transition: all 0.2s ease 0s;
}
.item-procedure::after, .item-procedure::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #CED0D4;
  z-index: -1;
}
@media (min-width: 73.125em) {
  .item-procedure::after, .item-procedure::before {
    right: -10px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure::after, .item-procedure::before {
    height: 20px;
    width: 1px;
    bottom: -10px;
  }
}
@media (min-width: 73.125em) {
  .item-procedure::before {
    top: -1px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure::before {
    left: -1px;
  }
}
@media (min-width: 73.125em) {
  .item-procedure::after {
    bottom: -1px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure::after {
    right: -1px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure {
    flex: 1 1 100%;
    min-height: auto;
    border-radius: 14px 14px 0 0;
    border: 1px solid #CED0D4;
    border-bottom: none;
    padding: 16px 16px;
  }
}
.item-procedure._active {
  border: 1px solid #1D68F9;
  border-radius: 14px;
  z-index: 10;
}
.item-procedure._active::after, .item-procedure._active::before {
  display: none;
}
@media (min-width: 73.125em) {
  .item-procedure._active {
    flex: 0 0 464px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure._active {
    border: 1px solid #1D68F9;
  }
}
.item-procedure._active ~ .item-procedure {
  position: relative;
  border: 1px solid #CED0D4;
  border-left: none;
  border-radius: 0px 14px 14px 0px;
}
.item-procedure._active ~ .item-procedure::after, .item-procedure._active ~ .item-procedure::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #CED0D4;
  z-index: -1;
}
@media (min-width: 73.125em) {
  .item-procedure._active ~ .item-procedure::after, .item-procedure._active ~ .item-procedure::before {
    left: -10px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure._active ~ .item-procedure::after, .item-procedure._active ~ .item-procedure::before {
    height: 20px;
    width: 1px;
    top: -10px;
  }
}
@media (min-width: 73.125em) {
  .item-procedure._active ~ .item-procedure::before {
    top: -1px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure._active ~ .item-procedure::before {
    left: -1px;
  }
}
@media (min-width: 73.125em) {
  .item-procedure._active ~ .item-procedure::after {
    bottom: -1px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure._active ~ .item-procedure::after {
    right: -1px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure._active ~ .item-procedure {
    border: 1px solid #CED0D4;
    border-top: none;
    border-radius: 0 0 14px 14px;
  }
}
.item-procedure__button {
  flex: 1 0 48px;
  height: 100%;
  font-size: 28px;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  opacity: 1;
  transition: all 0.3s ease 0s;
}
.item-procedure__button span {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #1D68F9;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
  z-index: -1;
}
@media (max-width: 47.99875em) {
  .item-procedure__button span {
    width: 32px;
    height: 32px;
  }
}
.item-procedure__button:active span {
  transform: scale(0.8);
}
@media (any-hover: hover) {
  .item-procedure__button:hover span {
    opacity: 0.5;
  }
}
@media (max-width: 47.99875em) {
  .item-procedure__button {
    flex: 1 0 32px;
    height: 32px;
    font-size: 24px;
  }
}
.item-procedure__body {
  flex: 1 1 auto;
}
.item-procedure__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  width: 352px;
}
.item-procedure__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
@media (max-width: 47.99875em) {
  .item-procedure__title:not(:last-child) {
    margin: 0px 0px 4px 0px;
  }
}
@media (max-width: 73.125em) {
  .item-procedure__title {
    width: 100%;
  }
}
.item-procedure__text {
  font-size: 28px;
  line-height: 130%;
  width: 352px;
}
@media (max-width: 73.125em) {
  .item-procedure__text {
    width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .item-procedure__text {
    font-size: 24px;
  }
}

.whyus__body {
  position: relative;
  padding: 206px 0px 261px 0px;
}
@media (max-width: 61.99875em) {
  .whyus__body {
    padding: 122px 0px 122px 0px;
  }
}
@media (max-width: 47.99875em) {
  .whyus__body {
    padding: 72px 0px 72px 0px;
  }
}
.whyus__title:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
@media (max-width: 47.99875em) {
  .whyus__title:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }
}
.whyus__items {
  display: grid;
  grid-template-columns: 375px 434px;
  grid-row-gap: 90px;
  grid-column-gap: 48px;
}
@media (max-width: 73.125em) {
  .whyus__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 61.99875em) {
  .whyus__items {
    grid-row-gap: 66px;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  }
}
@media (max-width: 47.99875em) {
  .whyus__items {
    grid-row-gap: 24px;
  }
}
.whyus__item {
  display: flex;
  column-gap: 16px;
}
.whyus__arrow {
  color: #1D68F9;
  font-size: 28px;
}
.whyus__text {
  font-size: 28px;
  line-height: 130%;
}
@media (max-width: 47.99875em) {
  .whyus__text {
    font-size: 24px;
  }
}
.whyus__img {
  position: absolute;
  top: 50%;
  transform: translateY(-44%);
  z-index: -1;
  right: -70px;
}
@supports (width: clamp( 12.75rem , 6.0598591549rem  +  28.544600939vw , 31.75rem )) {
  .whyus__img {
    width: clamp( 12.75rem , 6.0598591549rem  +  28.544600939vw , 31.75rem );
  }
}
@supports not (width: clamp( 12.75rem , 6.0598591549rem  +  28.544600939vw , 31.75rem )) {
  .whyus__img {
    width: calc(12.75rem + 19 * (100vw - 23.4375rem) / 66.5625);
  }
}
@media (max-width: 73.125em) {
  .whyus__img {
    display: none;
  }
}
.whyus__img img {
  width: 100%;
}

.about__body {
  max-width: 958px;
  margin: 0 auto;
}
.about__title {
  text-align: center;
}
.about__title:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
@media (max-width: 47.99875em) {
  .about__title:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }
}
.about__items {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  row-gap: 24px;
}
@media (max-width: 47.99875em) {
  .about__items {
    flex-wrap: wrap;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-about__img {
  width: 64px;
  height: 64px;
}
.item-about__img img {
  max-width: 100%;
  max-height: 100%;
}
.item-about__img:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.item-about__name {
  font-weight: 700;
  line-height: 100%;
}
.item-about__name:not(:last-child) {
  margin: 0px 0px 4px 0px;
}
.item-about__position {
  color: #B9B9BA;
  line-height: 130%;
}
.item-about__position:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.item-about__text {
  background: #F4F4F4;
  border-radius: 8px;
  padding: 12px 18px;
  line-height: 130%;
}
@media (max-width: 47.99875em) {
  .item-about__text {
    max-width: 463px;
  }
}

.questions__body {
  padding: 150px 0px 140px 0px;
  max-width: 958px;
  margin: 0 auto;
}
@media (max-width: 61.99875em) {
  .questions__body {
    padding: 124px 0px 82px 0px;
  }
}
@media (max-width: 47.99875em) {
  .questions__body {
    padding: 94px 0px 32px 0px;
  }
}
.tabs-questions__button {
  border-radius: 14px;
  min-height: 41px;
  font-size: 16px;
}
.tabs-questions__content {
  padding-top: 12px;
}
.tabs-questions__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}
.tabs-questions__title:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
@media (max-width: 47.99875em) {
  .tabs-questions__title:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }
}
@media (max-width: 61.99875em) {
  .tabs-questions__title {
    font-size: 52px;
  }
}
@media (max-width: 47.99875em) {
  .tabs-questions__title {
    font-size: 32px;
  }
}
@media (max-width: 29.99875em) {
  .tabs-questions__link {
    display: none;
  }
}

.spollers-questions:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 47.99875em) {
  .spollers-questions:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }
}
.spollers-questions__item {
  text-align: left;
}
.spollers-questions__item:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
@media (max-width: 47.99875em) {
  .spollers-questions__item:not(:last-child) {
    margin: 0px 0px 22px 0px;
  }
}
.spollers-questions__title {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  column-gap: 15px;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.01em;
  opacity: 1;
  transition: all 0.2s ease 0s;
}
.spollers-questions__title._spoller-active {
  margin: 0px 0px 8px 0px;
}
.spollers-questions__title p {
  max-width: 90%;
}
@media (any-hover: hover) {
  .spollers-questions__title:hover {
    opacity: 0.5;
  }
}
@media (max-width: 47.99875em) {
  .spollers-questions__title {
    font-size: 22px;
  }
}
@media (max-width: 29.99875em) {
  .spollers-questions__title {
    font-size: 16px;
  }
}
.spollers-questions__title._spoller-active img {
  transform: rotate(0);
}
.spollers-questions__title img {
  transition: all 0.3s ease 0s;
  transform: rotate(-90deg);
}
.spollers-questions__text {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.01em;
}
@media (max-width: 47.99875em) {
  .spollers-questions__text {
    font-size: 16px;
  }
}

.terms__body {
  max-width: 1115px;
  padding: 218px 0px 150px 0px;
}
@media (max-width: 61.99875em) {
  .terms__body {
    padding: 150px 0px 122px 0px;
  }
}
@media (max-width: 47.99875em) {
  .terms__body {
    padding: 122px 0px 72px 0px;
  }
}
.terms__title {
  font-weight: 700;
}
.terms__text:not(:last-child) {
  margin: 0px 0px 64px 0px;
}
@media (max-width: 47.99875em) {
  .terms__text:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }
}
.terms__text p:not(:last-child) {
  margin: 0px 0px 28px 0px;
}
@media (max-width: 61.99875em) {
  .terms__text p:not(:last-child) {
    margin: 0px 0px 22px 0px;
  }
}
@media (max-width: 47.99875em) {
  .terms__text p:not(:last-child) {
    margin: 0px 0px 16px 0px;
  }
}
.terms__list p:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
@media (max-width: 47.99875em) {
  .terms__list p:not(:last-child) {
    margin: 0px 0px 8px 0px;
  }
}
.terms__list-subitem {
  padding: 0px 0px 0px 26px;
}
.terms .h1:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
@media (max-width: 47.99875em) {
  .terms .h1:not(:last-child) {
    margin: 0px 0px 16px 0px;
  }
}
.terms .h2:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
@media (max-width: 47.99875em) {
  .terms .h2:not(:last-child) {
    margin: 0px 0px 16px 0px;
  }
}
.terms p {
  font-size: 28px;
  line-height: 130%;
}
@media (max-width: 61.99875em) {
  .terms p {
    font-size: 1.375rem;
  }
}
@media (max-width: 47.99875em) {
  .terms p {
    font-size: 1rem;
  }
}
